.bookingContainer {
    padding-top: 5.5rem;   /* 4.5rem is the height of top banner, and then add some more margin for aesthetics */
    padding-bottom: 3.5rem;   /* height of bottom navbar */
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 3rem; /* to overwrite the globals.css */
    font-size: 1.2rem;
}

.cafeContainer {
    display: flex;
    justify-content: center;
}